@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

/* Global Styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #all {
        width: 92% !important;
    }
}

a {
    text-decoration: none;
}

button,
a,
input {
    outline: none;
}

button {
    cursor: pointer;
}

/* Main Styles */
#all {
    margin: 30px auto;
    width: 600px;
    border: 1px solid #ccc;
}

#nav {
    width: 100%;
}

#nav .btn {
    float: left;
    width: 50%;
    padding: 15px 10px;
    background: #F1F1F1;
    text-align: center;
    font-family: 'Open Sans', arial;
    font-size: 17px;
    cursor: pointer;
}

#nav .active-btn {
    background: #cecece;
}

#nav .btn:hover {
    background: #DCDCDC;
}

#main {
    clear: both;
}

#main .section {
    padding: 15px;
    text-align: center;
    font-family: 'Share Tech Mono', verdana;
    font-size: 25px;
}

#main #clock {
    display: none;
}

#main #stop-watch #sWatch {
    margin-bottom: 15px;
}

#main #stop-watch .controls .control-btn {
    position: relative;
    float: left;
    width: 48%;
    margin: 0 1%;
    padding: 10px 0;
    font-family: 'Open Sans', arial;
    font-size: 17px;
    background: #fff;
    border: none;
}

#main #stop-watch .controls #toggle {
    background: #1ABC9C;
    color: #fff;
}

#main #stop-watch .controls #reset {
    background: #3ec1d3;
    color: #fff;
}

#main #stop-watch .controls #reset:hover {
    background: rgba(62, 193, 211, .9);
}

#main #stop-watch .controls .start {
    background: #1ABC9C !important;
}

#main #stop-watch .controls .stop {
    background: #fd3d3d !important;
}

#main #stop-watch .controls .start:hover {
    background: rgba(26, 188, 156, .9) !important;
}

#main #stop-watch .controls .stop:hover {
    background: rgba(253, 61, 61, .9) !important;
}